@model List<Check_n_Cheer.Models.Task>

@{
    ViewData["Title"] = "Manage tasks";
}


<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Codition | Mark
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(model => model[i].Id)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].TaskNumber)
                </td>
                <td>
                    <form action="/Test/SaveTask/@Model[i].Id" method="post">
                        <input type="text" id="condition" name="condition" value="@Model[i].Name"  required/>
                        <input type="number" id="mark" name="mark" value="@Model[i].Mark" required />
                        <button type="submit" class="btn btn-warning">Save task</button>
                    </form>

                </td>
                <td style="color:white">
                    @*@Html.ActionLink("Add Option", "Create", "Option", new { taskId = Model[i].Id, testId = Model[i].Test.Id }, new { @id = "td", @class = "btn button_color", style = "color:white" })*@
                    @Html.ActionLink("Manage options", "ManageOptions", "Option", new { taskId = Model[i].Id }, new { @id = "td", @class = "btn btn-info", style = "color:white" })

                    <form action="/Test/RemoveTask/@Model[i].Id" method="post">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>

                </td>
            </tr>
        }

    <tr>
        <td>
            new
        </td>
        <td>
            <form action="/Test/AddTask/@ViewData["TestId"]" method="post">
                <input type="text" id="condition" name="condition" value="" required />
                <input type="number" id="mark" name="mark" value="" required />
                <button type="submit" class="btn btn-success">Create task</button>
            </form>

        </td>

        <td>

        </td>
    </tr>
    </tbody>
</table>
<a href="/Test/SubmitTest?testId=@ViewData["TestId"]" class="btn btn-info">Submit</a>


