@model List<Check_n_Cheer.Models.Task>

@{
    ViewData["Title"] = "Manage tasks";
}


<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(model => model[i].Id)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].TaskNumber)
                </td>
                <td>
                    <form action="RenameTask/@Model[i].Id" method="post">
                        <input type="text" id="condition" name="condition" value="@Model[i].Condition" />
                        <button type="submit" class="btn button_color">Save task</button>
                    </form>

                </td>
                <td style="color:white">
                    @*@Html.ActionLink("Add Option", "Create", "Option", new { taskId = Model[i].Id, testId = Model[i].Test.Id }, new { @id = "td", @class = "btn button_color", style = "color:white" })*@
                    @Html.ActionLink("Manage options", "ManageOptions", "Option", new { taskId = Model[i].Id }, new { @id = "td", @class = "btn button_color", style = "color:white" })


                </td>
            </tr>
        }
    </tbody>
</table>
<input name="command" type="submit" class="btn button_color" value="Submit" />
@Html.ActionLink("Create Task", "AddTask", "Task", new { testId = Model[0].Test.Id }, new { @class = "btn button_color" });

