@model List<Check_n_Cheer.Models.Task>

@{
    ViewData["Title"] = "CreateTask";
}
@using (Html.BeginForm("UpdateTasks", "Task", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Title
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.HiddenFor(model => model[i].Id)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].TaskNumber)
                    </td>
                    <td>
                        <input type="text" id="condition" name="condition" value="@Model[i].Condition" />
                    </td>
                    <td style="color:#fff">
                        @*@Html.ActionLink("Add Condition", "UpdateTask", "Task", new { taskId = Model[i].Id, testId = Model[i].Test.Id, condition = "xxx" }, new { @id = "td", @class = "btn button_color" })*@
                        @Html.ActionLink("Add Option", "Create", "Option", new { taskId = Model[i].Id, testId = Model[i].Test.Id }, new { @id = "td", @class="btn button_color" })
                        @Html.ActionLink("View Options", "GetAllForTask", "Option", new { taskId = Model[i].Id }, new { @id = "td", @class= "btn button_color" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input name="command" type="submit" class="btn button_color" value="Submit" />
    @Html.ActionLink("Create Task", "AddTask", "Task", new { testId = Model[0].Test.Id }, new { @class="btn button_color" });


}
