@model IEnumerable<Check_n_Cheer.Models.User>;
@{
    ViewData["Title"] = "AdminProfile";
}

<h1>Admin Profile</h1>
<table style="width:100%">
    @foreach (Check_n_Cheer.Models.User user in Model)
    {
        if (@user.Role != "Admin")
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    @if(@user.Role=="Student")
                    {
                        
                            <label asp-for="@user.Role">Student<input type="radio" asp-for="@user.Role" value="Student" checked></label>
                            <label asp-for="@user.Role">Teacher<input type="radio" asp-for="@user.Role" value="Teacher"></label>
                            <span asp-validation-for="@user.Role"></span>
                     
                    }
                    @if(@user.Role=="Teacher")
                    {
                        
                            <label asp-for="@user.Role">Student <input type="radio" asp-for="@user.Role" value="Student"></label>
                            <label asp-for="@user.Role"> Teacher <input type="radio" asp-for="@user.Role" value="Teacher" checked></label>
                            <span asp-validation-for="@user.Role"></span>
                        
                    }
                </td>
                <td><a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Remove</a></td>
            </tr>
        }
    }
</table>


