@model Check_n_Cheer.Models.User;
@{
    ViewData["Title"] = "Profile";

}
<h1>@Model.Role Profile</h1>
@if (@Model.Role == "Student")
{
    <p>@Model.Email</p>
    @if (Model.CurrentTestId != null)
    {
        <a class="btn button_color" href="/Test/CurrentTest?testResultId=@Model.CurrentTestId">View current test</a>
    }
    @if (Model.TestResults != null)
    {
        <a class="btn button_color" href="/">View history</a>
    }
}
@if (@Model.Role == "Teacher")
{
    <p>@Model.Email</p>
    <a class="btn btn-success" asp-area="" asp-controller="Test" asp-action="CreateTest">Create test</a>
    <a class="btn btn-info" asp-area="" asp-controller="Test" asp-action="TestHistory">View history</a>
    <a class="btn btn-info" asp-area="" asp-controller="Test" asp-action="Statistics">Statistics</a>
}
